$brownbg: #d39667;
$yellowfontwithbrownbg: #f4db7d;
$orange: #f4793f;
$orange2: #ee9855;
$greenmain: #168758;
$white: #e6e2dd;
$black: #202020;
*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
@font-face {
    font-family: futura-pt-heavy;
    src: url(../fonts/FuturaPTHeavy.otf);
}
@font-face {
    font-family: logofont;
    src: url(../fonts/coco-gothic.regular.ttf);
}
@font-face {
    font-family: futura-pt;
    src: url(../fonts/FuturaPTBook.otf);
}
@font-face {
    font-family: bogart-h1;
    src: url(../fonts/Bogart-Black-trial.ttf);
}
body{
    overflow-x: hidden;
    font-family: futura-pt !important;
    background-color: #e6e2dd !important;
}
.brown{
    background-color: #a56c46 !important;
}
.green{
    background-color: $greenmain !important;
}
.white{
    color: $white !important;
}
.yellow{
    color: $yellowfontwithbrownbg !important;
}
.black{
    background-color: $black !important;
}
.orange{
    color: $orange !important;
}
.orange2{
    color: $orange2 !important;
}
.hover{
    &:hover{
        color: $yellowfontwithbrownbg !important;
    }
}
.navbar-brand{
    font-family: logofont;
    font-size: 2rem !important;
}
.pt-10{
    padding-top: 10%;
}
.pt-20{
    padding-top: 20%;
}
nav{
    font-family: futura-pt;
    font-size: 1.5rem;
    ul{
        list-style-type: none;
    }
}
h1{
    font-family: bogart-h1;
    color: $yellowfontwithbrownbg;
    font-size: 3.5rem !important;
}
//stranica knjige
#main{
    h2,h3{
        color: #00483c;
        font-family: futura-pt-heavy !important;
        text-transform: uppercase;
    }
}
// stranica kontakt
#h1color{
    color: $greenmain !important;
}
.card{
    max-width: 500px !important;
    background-color: $white !important;
    border: none !important;
}
.ta{
    text-align: -webkit-center;
}
// media query
@media screen and (max-width: 576px){
    .figure-img{
        max-width: 20% !important;
    }
    figure{
        display: flex !important;
    }
}
@media screen and (max-width: 426px){
    h1{
        font-size: 2.5rem !important;
    }
    h2{
        font-size: 1.5rem !important;
    }
    h3{
        font-size: 1.2rem !important;
    }
    .figure-img{
        max-width: 25% !important;
    }
   
}
@media screen and (max-width: 376px){
    .figure-img{
        max-width: 30% !important;
    }
}
@media screen and (max-width: 321px){
    .figure-img{
        max-width: 35% !important;
    }
}
